
/*
$base03: rgb(0, 43, 54);
$base02: rgb(7, 54, 66);
$base01: rgb(88, 110, 117);
$base00: rgb(101, 123, 131);
$base0: rgb(131, 148, 150);
$base1: rgb(147, 161, 161);
$base2: rgb(238, 232, 213);
$base3: rgb(253, 246, 227);
$yellow: rgb(181, 137, 0);
$orange: rgb(203, 75, 22);
$red: rgb(220, 50, 47);
$magenta: rgb(211, 54, 130);
$violet: rgb(108, 113, 196);
$blue: rgb(38, 139, 210);
$cyan: rgb(42, 161, 152);
$green: rgb(133, 153, 0);
*/

body {
    background-color: rgb(253, 246, 227);
    color: rgb(7, 54, 66);
    margin-left: 0;
    margin-right: 0;
}

pre {
    background: rgb(238, 232, 213);
    margin: 0 -2em 0 -2em;
    padding: 4px 2em 4px 2em;
    overflow-x: auto;
}

header {
    font-family: Inconsolata, Courier New, monospace;
    /* color: rgb(238, 232, 213);*/
    color: rgb(255, 92, 28);
    background: rgb(5, 44, 53);
    padding: 1em 0.5em 0.5em 1em;
    margin-top: -1em;
}

header ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

header li {
    display: inline-block;
}

header li+li:before {
    content: " - ";
}

header a {
    color: rgb(48, 172, 255);
}

article {
    max-width: 640px;
    margin: auto;
}

article h1 {
    border-bottom: 1px solid rgb(7, 54, 66);
    margin-bottom: 0;
}

article h1 a {
    text-decoration: none;
}

article div.info:before {
    content: "Posted on ";
}

article div.info {
    text-align: right;
    font-style: italic;
}

nav#archive {
    position: absolute;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

footer .status-line {
    margin-left: -1em;
    padding-left: 1em;
    margin-right: 1em;
    padding-right: 1em;
    background-color: rgb(5, 44, 53);
    color: rgb(253, 246, 227);
    font-family: Inconsolata, Courier New, monospace;
    white-space: pre;
    width: 100%;
    overflow: hidden;
}

footer .minibuffer {
    background-color: rgb(235, 246, 227);
    font-family: Inconsolata, Courier New, monospace;
}

footer .minibuffer .prev {
    float: right;
}

footer .minibuffer .next {
    float: left;
}
